@import "./variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $palette-white;
    box-sizing: border-box;
    height: 100vh;
    min-height: 100%;
}

a {
    text-decoration: none;
    &:focus {
        outline: 0;
    }
}

ul,
li {
    list-style-type: none;
}

#root {
    height: 100%;
}