//Colors
$palette-white: rgb(255, 255, 255);
$palette-white-smoke: rgb(245, 245, 245);
$palette-dodger-blue: rgb(8, 128, 255);
$palette-black-bean: rgb(32, 37, 41);
$palette-free-speech-red: rgb(190, 11, 1);


//Fonts Families
$font-family: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;


//Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;


// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;