//Colors
$palette-white: rgb(255, 255, 255);
$palette-solitude: rgb(248, 250, 251);
$palette-maya-blue: rgb(71, 175, 255);
$palette-black-bean: rgb(32, 37, 41);
$palette-maroon: rgb(131,1,0);
 

//Fonts Families
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;


//Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;


// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;