.table-container {
    border-collapse: collapse;
    margin: 1.5rem auto;
    font-size: 0.9em;
    min-width: 400px;
    width: calc(100% - 5rem);
    border-radius: .25rem .25rem 0 0;
    overflow: hidden;
}