@import '../../sassStyles/variables';


.table-body {
    display: block;

    .table-body-row {
        display: flex;

        &>* {
            width: 20%;
            padding: .5em 1em;
        }

        &>*:nth-last-child(2) {
            text-align: center;
        }

        .table-row-id {
            width: 2%;
        }

        .table-row-title {
            width: 38%;
        }

        .table-row-actions {
            display: flex;
            justify-content: center;
            gap: .5em;
        }

        &:hover {
            background-color: darken($palette-white-smoke, 0.5);
        }
    }

}